apiVersion: v1
kind: Config
clusters:
- name: "amr-sas-cluster"
  cluster:
    server: "https://amr.caas.intel.com/k8s/clusters/c-sgk8x"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlHMVRDQ\
      0JMMmdBd0lCQWdJVEZBQUFBQVVvR2xwalROaXJLZ0FBQUFBQUJUQU5CZ2txaGtpRzl3MEJBUXNGD\
      QpBREJJTVFzd0NRWURWUVFHRXdKVlV6RWFNQmdHQTFVRUNoTVJTVzUwWld3Z1EyOXljRzl5WVhSc\
      GIyNHhIVEFiDQpCZ05WQkFNVEZFbHVkR1ZzSUZOSVFUSTFOaUJTYjI5MElFTkJNQjRYRFRFNE1EZ\
      3lNakUyTWpBME1sb1hEVEl6DQpNRGd5TWpFMk16QTBNbG93VURFTE1Ba0dBMVVFQmhNQ1ZWTXhHa\
      kFZQmdOVkJBb1RFVWx1ZEdWc0lFTnZjbkJ2DQpjbUYwYVc5dU1TVXdJd1lEVlFRREV4eEpiblJsY\
      kNCSmJuUmxjbTVoYkNCSmMzTjFhVzVuSUVOQklEVkJNSUlDDQpJakFOQmdrcWhraUc5dzBCQVFFR\
      kFBT0NBZzhBTUlJQ0NnS0NBZ0VBblRzdld5d2RpQXpkRXZnSlkvb2pWTzUzDQpacVU0ZTFUblc1e\
      WxOUkw2NEViRzFRKzRQZjd3bUIvdEdPTmFzQTQ4WkRyLzV6RitjSkhyUVV2V29GZjlIbXNvDQpCQ\
      kZsUWdDb0dFWGJsUkFZcVcrOXpSQ2ZrR29UalNqa2JCMHlLNGltOVB1bXFvYjZVWlJBY0tMR2ZLV\
      XJFOW9TDQpDTVFlRU55aTRaaVFpeFhWdkMvRXBKV0FuQndiRVNzdExMVVY1bXBKbk53T0Z4OFV6K\
      3puRUsxem9PZy9MK1luDQpzYS9wY3VLdUVoUldJd3A0RU9mSEJzeXczVVpEa29XenVWVk1GcnhFb\
      EN2dXJZd3lzMXdUMWlJSFVsbDhlWmpZDQo4UzBNWWNTUHNONXpyRXBOSFVZek9iOE5yR2ozRTd4d\
      090eVFmNFRVN2tUUWpoa3F1NnJoU1VjdjhUOFUyL3NzDQovVm1uNFRHbndxaVN1QjBxSU53a2dtc\
      TVoeTROWFpibmMwVUt1SWdyUUY1ZnRDRjU5UGl6NFBjOGJHQ3JkMkVwDQovZm5pTzRmT2JnRmcwY\
      W1xQkRsOGZJRlUzaVVzeHlOcXpDb3F4dHhNRERPc0Rad01ZVzhZMVdNbnE4Y1JtbklGDQpUNGdUT\
      0FGYTZZTk1LcG9xN1owdFNPMk5YVHROemVsNmpDL2ZYamYvQ3ZneVpadUNUTFk5SDFLeHhuRUlvd\
      XhoDQpJUjNBZmpCTFQ3emtkbVVBcEFOdUdtREtEcXBSL3FvVzQ2U3V5WlJFamljTG5SNGF5U1JZb\
      3BORzFheGIzY1JKDQpJYjdremJkS1NIblA1eFFUWFFYeFptMkx1TCtGZmhLWHFTenlqRVVMcHJMV\
      3V1MHRUbjZRRFBOZVVIYmlNYkI2DQovNWxNVmc5ZUpkc1didCtHSkdNQ0F3RUFBYU9DQWE0d2dnR\
      3FNQklHQ1NzR0FRUUJnamNWQVFRRkFnTUJBQUV3DQpJd1lKS3dZQkJBR0NOeFVDQkJZRUZMd3JUS\
      Xo5RmYrbGQwVVBqUXd1TDZ0R2FjbzlNQjBHQTFVZERnUVdCQlEyDQo3OGRDdkdLWTEyRE9hcXhnM\
      itIOUxxY1ViVEJGQmdOVkhTQUVQakE4TURvR0N5cUdTSWI0VFFFRkFXVUJNQ3N3DQpLUVlJS3dZQ\
      kJRVUhBZ0VXSFdoMGRIQTZMeTl3YTJrdWFXNTBaV3d1WTI5dEwyTndjeTV3WkdZQU1Ca0dDU3NHD\
      QpBUVFCZ2pjVUFnUU1IZ29BVXdCMUFHSUFRd0JCTUFzR0ExVWREd1FFQXdJQmhqQVBCZ05WSFJNQ\
      kFmOEVCVEFEDQpBUUgvTUI4R0ExVWRJd1FZTUJhQUZJbWYwTEx0SUttbVBrcG1xdkllZ3JEV0xBa\
      zJNRDhHQTFVZEh3UTRNRFl3DQpOS0F5b0RDR0xtaDBkSEE2THk5d2Eya3VhVzUwWld3dVkyOXRMM\
      k55YkM5SmJuUmxiRk5JUVRJMU5sSnZiM1JEDQpRUzVqY213d2JnWUlLd1lCQlFVSEFRRUVZakJnT\
      URvR0NDc0dBUVVGQnpBQ2hpNW9kSFJ3T2k4dmNHdHBMbWx1DQpkR1ZzTG1OdmJTOWpjblF2U1c1M\
      FpXeFRTRUV5TlRaU2IyOTBRMEV1WTNKME1DSUdDQ3NHQVFVRkJ6QUJoaFpvDQpkSFJ3T2k4dlQwT\
      lRVQzVwYm5SbGJDNWpiMjB2TUEwR0NTcUdTSWIzRFFFQkN3VUFBNElDQVFBbFgwOE43N3kxDQpCc\
      Gl6QjYyTWx4dG5jZ2dhSnorVXExUkcra2Z1ODltTWtlMWZNTXd6S3lRQWJkNllvYUlGL21ROXZ2N\
      lpiQUZKDQpBWW0zUlV6d0txcWJ2YUNQOEdKL1Y5dUYwVlNiR2pkRS9zN0h4bzh2RTZ3VjdXdGJMT\
      jVYU0VEWHBiWVhuSjUwDQp2ZGhxSmRnUnNNT0pTaWo4N1NES1ZuNndhVG9ISW1XV3RBdkt3YWJNO\
      HMwMkNJTm53ajBWYmpuMElFME9WSHk1DQpBdU14dkhBbnVlWXdBT0dXMFMrZUl4cGNrS1FkMU1ke\
      TYxdVc2NDFRc0hOM05xMm8yVDFmN2VkM1lwRUJZbFZYDQpMRmdwVjRtYlRiTi9oZ1NqRE5OT1oxV\
      UtpcmFuNG44WkwwYUlTQmJqWHpCRmJxeDVOdzlySmVWbUZaOWJCd1NoDQpyMFJKR3Zkc3FZNnJYT\
      2xTUHQ4TzVhTUJvNDJQb3h4TUVrVUNqQmptdzh4T3pxUTBLWGJiNEs0YVFoTGYwZThxDQo0aTZXN\
      np1UEhSS0NyS2hDMHFramlZVml1dk4wMnhoL2dQOWxsK01FSjFRNDN3MlhuT1FmNENmWjdQUngwM\
      zZzDQppN2NzTElEYVJJUElwRElpMFY0LzlsTEZkOHA2aTl5ald3bE5NWTlkdWgwMUh3YjRwbENIS\
      zFvNElQRjZWUjdNDQo0OXpsU3BOcGpDak1ERHRxb1JZeUxXWWFtVko5azJJbjF3SDVhbHVCaGJTZ\
      kdxNmRrRFRMSDBzK0NqMVB0Vm16DQpSMENRRzZqamNwajNFNFE3SHpYaUJYZjArRzVHMEtRWjZFc\
      yt6bmlOK2FDYmNxU1VBYk5JNWNHYk9uSFgyRzF5DQptbWlFY25PeUZBSkplY083ZUJWMGlEV1hiR\
      FR4UFhYYmtnPT0NCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0NCi0tLS0tQkVHSU4gQ0VSVElGS\
      UNBVEUtLS0tLQ0KTUlJRmF6Q0NBMU9nQXdJQkFnSVFWakVuWnFxajFxVktVb2FaZ0JjMThEQU5CZ\
      2txaGtpRzl3MEJBUXNGQURCSQ0KTVFzd0NRWURWUVFHRXdKVlV6RWFNQmdHQTFVRUNoTVJTVzUwW\
      ld3Z1EyOXljRzl5WVhScGIyNHhIVEFiQmdOVg0KQkFNVEZFbHVkR1ZzSUZOSVFUSTFOaUJTYjI5M\
      ElFTkJNQjRYRFRFMU1Ea3hOakl3TURBd05Wb1hEVE0xTURreA0KTmpJd01EQXdOVm93U0RFTE1Ba\
      0dBMVVFQmhNQ1ZWTXhHakFZQmdOVkJBb1RFVWx1ZEdWc0lFTnZjbkJ2Y21GMA0KYVc5dU1SMHdHd\
      1lEVlFRREV4UkpiblJsYkNCVFNFRXlOVFlnVW05dmRDQkRRVENDQWlJd0RRWUpLb1pJaHZjTg0KQ\
      VFFQkJRQURnZ0lQQURDQ0Fnb0NnZ0lCQU5FSExENHg3bzR4S0NEWVR3WEdNaXMxcW9iK3VCbE1SM\
      TdQcjExaQ0Kdy9ORVJBeDRuYWhHZ3pUWm1YOWkzdmlUdGZuNXVEWDZJSk1QZHE3TjRtK0Zscjh2N\
      FZ1QXpudm5DQkdxa1VEZQ0KSEFQYlI2clhVNGxNajdsTks3c0FXYk11SjgrMGEwU2M0d0V5Tk9YW\
      WJOelM0cExjcTBlTDhBakZ3U3BGTll2MQ0KTm9wcEIydHBubVRVdStLanltYVhjWEV1YmFXdW9ub\
      Uh2anFFdnpSamljcVUxL1FNWWNvRk93M0dQN2dOd3oyVw0Kbk9LaG5NU2JzOENndUJLOWVJQmRBW\
      U9zZXRkQ09FbTJzOHlZcnFlcXRCV01WV3E5NXFpUkFkbXovcnBXQmxGbA0KTndsWHBFR1NsR0lJM\
      zc0K0UyL2dQZU9YM3g2Z1VmcEFpVmVYbmk3cHVONGl4UVd5Q3hFSzBXKzUxeERsdE8xcA0KMG9Gc\
      2w5UHQ5VVdwUXFab0E4c0ZYc1RmK0l3b0F6YjlKY0dvUGxyemZNZnVMK3Fnc3NGODZKNGkwMWRye\
      lJLOA0KZCtOaGluQ3NqTHBnK1F3MXdlL1JSeXY2Q1h2RllDVktxdEVDQ1lvY1krTnRKM2pERHR1a\
      3lXTFVmWE1kRmdUaQ0KSng2SXZFZGluZlYwUlF6KzhCWlkzc05RUU5DNjYvZFBpWldFUjBUWHhvb\
      mpmclMxemUvNlZuZ1VsYTZMOTVMQw0KVXdseHBPZDVjdTNtcGJ0WXZpZE93dWZFUVd3MUlGK3hnV\
      mpGeDBpNVZHZzhqUnNNM1RTUi92M29QcVkvUXYzSw0KNlFGWnBzcFdBSmNHc0l1cXlLZmhjR0xET\
      mJkVS90aVZOWmZkMmp0MHJwNDBrMTJLeWlnM1M0aGVHTUJ2ZE0wOA0KVU9ZTkFnTUJBQUdqVVRCU\
      E1Bc0dBMVVkRHdRRUF3SUJoakFQQmdOVkhSTUJBZjhFQlRBREFRSC9NQjBHQTFVZA0KRGdRV0JCU\
      0puOUN5N1NDcHBqNUtacXJ5SG9LdzFpd0pOakFRQmdrckJnRUVBWUkzRlFFRUF3SUJBREFOQmdrc\
      Q0KaGtpRzl3MEJBUXNGQUFPQ0FnRUFJVW5WcXNsUld2bCtUQVJiWkhnUGUrOVhQVURLMjhCY3R2T\
      kJiQ0QrQXF4bg0KNlB3WGt4eW9DZC9waUxzY1ZwQXpraWpUdXllSWJIK2sySkVrS3VLQ1ZhYnNmM\
      E9vUnA1WTRqRXdwWHVQcDRiag0KV3BHblpUbTNod214TlprM3NtRnpzV2dTN3dpSlJTcFNLWGlPM\
      3A5TEVWc3VrUjVSRnB1eTd1S09kUzdFckwzQQ0Kc1NPcVJUdU5SR0U3ZDZqazVtY0E2TERPOGcrW\
      UJJL1BaUWVSMEI4aVFHaTNqckpkTWYyR2lmUlZhbHpTME9XUA0KVHBFa2xoMXVRVlA5a0c1dUZnN\
      khHcUQrY3JjMERwNFk2TGFwYW5aSFdxN3FqaUw2b1J3Ky80VExVek9OWXdjbQ0Kbzh2NE10Z1ltb\
      EU3SW8yUzRXS2xWd3l5SEVHYzRraTNsZ0VQeEZtMWFWeVJQNVcrRGtzcFgvK3hsZ0xtTXhqZQ0KY\
      kd1SU9nY2lldVRtaXhXYVFKUWdEWnhqS0JZTW91STdrbm5IaUNnVDE4NEVkM3F5TlJ3b094UkM4Z\
      FZ5L3I0VQ0KNkxtTmY3M28yeVRQbGhHaGo5Yi96RUtyS1NDcmtXSzVDTU84QjFpaE9oK2YwbmhGK\
      1V0b1hrY2VVRG1JVnNZVg0Kazd4WWRvcVhYRGJyNVRtTVg2bGNzQzhYSGpPTUZPekZjelR3VnI5b\
      kp3OHNzT0s4czMrdCtLMTRxZjMzU2liSg0KSTI2aGllQWtQWGljdm5HYytFVlJMUkNuNUdacmRmc\
      lRCWjhLVmFrNEU5bFhtcSszT2haMzI2c2NoRjBaTlZUWQ0KZ2VZNGNiaU50NHVhTEtWellsUXUzM\
      jdwc3E1WkViampSL2F1cmhiYUpXQTJZZU1ZMlNCOEkyY2hOSE5oSnA4PQ0KLS0tLS1FTkQgQ0VSV\
      ElGSUNBVEUtLS0tLQ=="
- name: "amr-sas-cluster-sccj09020b"
  cluster:
    server: "https://10.148.61.40:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TVRFeE5EQXdORGN6TUZvWERUSTVNVEV4TVRBd05EY3pNRm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQU9EeGp4MGVRQUdUCkVLU1MwbzQ3c3B5U0RUZmh6RlJvVk5vcDBSY3QwNVkvaHVuWXZHd2RJQ\
      25VUXRFN2UxSSs5bkNpTUs1V2VRR1IKSGhpT0FGb3cyWndLM0x3bkhoM3lQWFA4NEYyNEd1MTFDY\
      0Q4MG1lTzlGLzFwYUhwcUNSenBHenVBVnlQVjMyKwpDMlBKR251NzJCVVlqc2hQSkliUGtOdkVoY\
      k85eFhEOEFJSCtnTGhTU21aQWdMVTlkMjdiUzZiQ3VOMTRnU21CCjMweDRNSlhqUXFrTGtBWE9VN\
      mFpY1pnK1hEYVJhck9LWndHSEpKL3l4QVNwdldnQkFVRmRFc3haSlIzQjVrZzIKaGlnU3dBcjIxV\
      kJEb1BmRENkczFpaGN2U3NRYUJFcVlPMndxRU5NWVZaVWdHY29DNFpXY3F6RDhub3JQNFpkYQpJW\
      TVOQWl0VXVwa0NBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBSEFoMzVFUHVrSWNRdG5wR3RFajVqW\
      G95K2o0QjZPUFExRksKMUMyWWFtTjlSRVJGREwwdlM1NG14aE04RWJtajdJcG13ZzNZSkl1WmRxS\
      3Q3cU4zZzMzZ1hkZWZ2S0JLQUVqago5THgzTE1NWDNqVnhiUVVqRE1aRmV3QUZ5Qkp2UFY4NFI4e\
      VM4Ny9pbkRkaHJNUlRwTHB4MElVTDdjeDh0M3RCCkRFSW9yMUVQdEFjZWFkNWdhUEx1cDFYYVZhd\
      HV4UGxuMDBpY3Z0OTZKM3drUi9SOWtWbllwUU41c3NwR3NTemYKUWxqZUhoM2pOeEdPOUY5bUVCb\
      k9SeGxLODZMcDgxcUsrditEYlhZSHN3azd3TFhQeS9qQTd4dlpZSTM0Q1NnTwpSNjloOVp0ejM4T\
      G80eHN5WmVwQmVqVUt4NVF4WENiQVFJRERCY1RLdGMzdEdJUnFyYkk9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"
- name: "amr-sas-cluster-scci92589a"
  cluster:
    server: "https://10.90.104.19:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TVRFeE5EQXdORGN6TUZvWERUSTVNVEV4TVRBd05EY3pNRm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQU9EeGp4MGVRQUdUCkVLU1MwbzQ3c3B5U0RUZmh6RlJvVk5vcDBSY3QwNVkvaHVuWXZHd2RJQ\
      25VUXRFN2UxSSs5bkNpTUs1V2VRR1IKSGhpT0FGb3cyWndLM0x3bkhoM3lQWFA4NEYyNEd1MTFDY\
      0Q4MG1lTzlGLzFwYUhwcUNSenBHenVBVnlQVjMyKwpDMlBKR251NzJCVVlqc2hQSkliUGtOdkVoY\
      k85eFhEOEFJSCtnTGhTU21aQWdMVTlkMjdiUzZiQ3VOMTRnU21CCjMweDRNSlhqUXFrTGtBWE9VN\
      mFpY1pnK1hEYVJhck9LWndHSEpKL3l4QVNwdldnQkFVRmRFc3haSlIzQjVrZzIKaGlnU3dBcjIxV\
      kJEb1BmRENkczFpaGN2U3NRYUJFcVlPMndxRU5NWVZaVWdHY29DNFpXY3F6RDhub3JQNFpkYQpJW\
      TVOQWl0VXVwa0NBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBSEFoMzVFUHVrSWNRdG5wR3RFajVqW\
      G95K2o0QjZPUFExRksKMUMyWWFtTjlSRVJGREwwdlM1NG14aE04RWJtajdJcG13ZzNZSkl1WmRxS\
      3Q3cU4zZzMzZ1hkZWZ2S0JLQUVqago5THgzTE1NWDNqVnhiUVVqRE1aRmV3QUZ5Qkp2UFY4NFI4e\
      VM4Ny9pbkRkaHJNUlRwTHB4MElVTDdjeDh0M3RCCkRFSW9yMUVQdEFjZWFkNWdhUEx1cDFYYVZhd\
      HV4UGxuMDBpY3Z0OTZKM3drUi9SOWtWbllwUU41c3NwR3NTemYKUWxqZUhoM2pOeEdPOUY5bUVCb\
      k9SeGxLODZMcDgxcUsrditEYlhZSHN3azd3TFhQeS9qQTd4dlpZSTM0Q1NnTwpSNjloOVp0ejM4T\
      G80eHN5WmVwQmVqVUt4NVF4WENiQVFJRERCY1RLdGMzdEdJUnFyYkk9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"

users:
- name: "amr-sas-cluster"
  user:
    token: "kubeconfig-u-3lpz25nf42.c-sgk8x:qpkc89skfxjljtc6n5mw9s2tp2tndzrf82jvlrp22wnzdssfs7ttbz"

contexts:
- name: "amr-sas-cluster"
  context:
    user: "amr-sas-cluster"
    cluster: "amr-sas-cluster"
- name: "amr-sas-cluster-sccj09020b"
  context:
    user: "amr-sas-cluster"
    cluster: "amr-sas-cluster-sccj09020b"
- name: "amr-sas-cluster-scci92589a"
  context:
    user: "amr-sas-cluster"
    cluster: "amr-sas-cluster-scci92589a"

current-context: "amr-sas-cluster"
