.navbar {
  margin-bottom: 0 !important;
}

.homeLink {
  font-size: 22px;
  font-weight: bold;
  float: right;
  color: #FFF;
  cursor: pointer;
  margin-top: -38px;
}

.logOut {
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
}

.userId {
  font-size: 15px;
  color: #FFF;
  margin-right: 10px;
  margin-top: 20px;
}

.row {
  margin-right: -20px !important;
}

@media only screen and (max-width: 567px) {
  .homeLink {
    float: right;
    font-size: 21px;
    margin-top: -58px;
  }
}
