.searchIcon {
  margin-top: -30px;
  float: right;
  font-size: 20px;
  margin-right: 15px;
  color: #495057 !important;
}

.topSearchBox {
  margin-top: 7px;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--box-shadow-first-color), -0.5rem -0.5rem 0.5rem  var(--box-shadow-second-color);
  transition: all 250ms ease-in-out;
  border: 1px solid #000;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.highlight{
  background-color: #d7d7d7;
  color: #000;
}

.highlight .caption > p {
  color: #000;
}

.clearFilterText {
  float: right;
  margin-top: -25px;
  font-size: 1.25rem;
  cursor: pointer !important;
}

input.searchBox, .form-control.searchBox {
  width: 100%;
  font-size: 1.1rem !important;
  color: #000;
}

.clickMoreDetails {
  font-size: 1.5rem;
}

.searchBoxDiv {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.form-control.searchBox:focus {
  border-radius: 3rem;
}

.topSearchBox:hover, .topSearchBox:focus {
  outline: none;
  box-shadow: 1rem 1rem 1rem var(--box-shadow-first-color), -1rem -1rem 1rem var(--box-shadow-second-color);
}

.form-check-input {
  margin-top: 1rem !important;
}

input[type=checkbox] {
  margin: 9px 2px 5px -8px !important;
  position: relative;
}

.modelTypeLabel {
  margin-left: 5px !important;
}

.clickMoreDetails {
  color: #fff;
}

.thumbnail {
  border: none !important;
  background-color: none !important;
}

.clear-selection {
  font-size: 1.2rem;
  color: #fc060f;
  text-decoration: underline;
  cursor: pointer;
}

.modelTypeChk, .modelTypeLabel {
  cursor:pointer;
}

#search-box::-webkit-search-cancel-button{
  position: relative;
  right: 5x;
  cursor: pointer;
}

.thumbnailContentsImage {
  cursor: pointer;
}

.version-check {
  margin-left: 10px;
}

.versionCheckBox {
  margin: 9px 0px 0px -10px !important;
}

.hostOSText {
  font-size: 14px;
}

.mainPanelLabel {
  margin-top: 3px;
  margin-left: -12px;
}

.btnCenterAlign {
  margin: 29px 0px 0px 15%;
}

.platformContainer {
  box-shadow: none !important;
}

.modelTypesTitle, .activePlatformTitle, .releaseVersionsTitle {
  background: #0071C5;
  color: #fff;
  height: 2.5rem;
  padding: 6px;
  text-align: center;
}

/* Dropdown css */
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  background: #2c3e50;
  line-height: 2;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: -4px;
  right: 0;
  width: 15px;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.vncViewerCopyText {
  color: var(--text-color);
}

@media only screen and (max-width: 567px) {
  .custom-style-chek {
    display: inline-flex !important;
    padding-left: 2rem !important;
  }

  .modelTypesTitle {
    margin-left: 0.6rem !important;
    text-align: center;
  }

  .form-check-input {
    margin-top: 0.2rem !important;
  }

  .clickBtn {
    text-align: center;
  }

  input[type=checkbox] {
    margin: 9px 0px 0px -11px !important
  }

  .version-check {
    margin-left: 17px;
  }

  .versionCheckBox {
    margin: 8px 0px 0px -10px !important;
  }
}

/* Dropdown custom CSS */
/* .drpDownRow {
   margin-top: 20px;
}

select {
  font: 400 12px/1.3 sans-serif;
  color: dimgray;
  border: 1px solid #000;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 5px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  width: 100%;
}

select:hover {
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(-135deg, transparent 50%, #fff 50%),
    linear-gradient(-225deg, transparent 50%, #fff 50%),
    linear-gradient(#fff 42%, #fff 42%);
}

select:active {
  background-image: linear-gradient(#006fc2, #006fc2),
    linear-gradient(-135deg, transparent 50%, #006fc2 50%),
    linear-gradient(-225deg, transparent 50%, #006fc2 50%),
    linear-gradient(#006fc2 42%, #006fc2 42%);
  color: #006fc2;
  border-color: #006fc2;
}

.nav-tabs {
  background-color: #000;
  margin-top: 5px;
  height: 61px;
}

.nav-tabs .nav-item {
  width: 20%;
}

.nav-tabs .nav-link {
  border-radius: 0em !important;
  color: #00AEEF;
  height: 61px;
  padding-top: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  text-align: center;
  border-bottom: 2px solid;
}*/

/* Mobile Only Menu Hamburger */
/* [ON BIG SCREEN] */
/* Wrapper */
/* #hamnav {
  width: 100%;
  background: #000;
  position: sticky;
  top: 0;
  margin-top: 5px;
  z-index: 999;
} */

/* Hide Hamburger */
/* #hamnav label, #hamburger { display: none; } */

/* Horizontal Menu Items */
/* #hamitems a {
  width: 100%; /* 100% / 5 tabs = 20% */
  /* padding: 10px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background: #000;
}
#hamitems a:hover {
  background: #f03705;
}

#hamitems a.active {
  color: #FFF;
} */

/* @media only screen and (max-width: 567px) {

  .nav-tabs .nav-item {
    width: 100%;
  }

  .show-nav {
    display: inline-block;
  }

  .hide-nav {
    display: none;
}

  #myTab {
      display: none;
  } */

  /* Show Hamburger Icon */
  /* #hamnav label {
      display: inline-block;
      color: #000;
      background: #fc4c02;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
      margin-bottom: 0px !important;
      cursor: pointer;
  } */

    /* Break down menu items into vertical */
  /* #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      color: #fff;
      padding-top: 20px;
  } */

  /* Toggle Show/Hide Menu */

  /* #hamnav input:checked ~ #hamitems { display: block; }
} */
